.nav{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    height: 20%;
    background-color: cyan;
}

.button{
    margin : 5%;
    padding : 5%;
    background-color: blue;
    text-decoration: cornsilk;

}

.div{
    background-color: darkkhaki;
    text-decoration: black;
}