body{
    background-color: darkkhaki;
}

th,td{
    border: black 1px solid;
    padding: 25px;
    border-radius: 2px;
    
}

label{
    width: 120px;
    float: left;
}

input{
    width: 200px;
}

button{
    padding:1%;
    margin:1%;
    border-radius: 5px;
    background-color: lightgray;
    color: black;  
}

button:hover{
    background-color: black;
    color: lightgray;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:black;
    border-radius: 5px;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkkhaki;
    text-decoration: black;
    padding: 5%;
    margin-left : 15%;
    margin-right : 15%;
    margin-top: 5%;
    /* border: black solid 2px;
    border-radius: 5px; */
}

.coordonnees{
    text-align: center;  
    
}

.competences{
   display: flex;
   flex-wrap: wrap;
}

.competences2{
    width: 25%;
}

.formations{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.langues{
    text-align: center;  
}

.loisirs{
    text-align: center;
}

.expTitre{
    border: none;
}

.bouttonModifier{
    display: block;
    margin-left : auto;
    margin-right: auto;
    margin-top: 50px;
}

.formDiv{
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin : 10px ;
}

.divBoutton{
    display: flex;
    flex-direction:row;
    justify-content: center;
}
