body{
    background-color: darkkhaki;
}

th,td{
    border: black 1px solid;
    padding: 5px;
    border-radius: 2px;
    
}

table{
    margin:auto;
}

label{
    width: 120px;
    float: left;
}

input{
    width: 200px;
}

button{
    padding:1%;
    margin:1%;
    border-radius: 5px;
    background-color: lightgray;
    color: black;  
}

button:hover{
    background-color: black;
    color: lightgray;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:black;
    border-radius: 5px;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkkhaki;
    text-decoration: black;
    padding: 20px;
    margin-left : 100px;
    margin-right : 100px;
}

.coordonnees{
    text-align: center;  
    
}

.titre{
    text-align: center;
}

.competences{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 60%;
   margin: auto;
}

.competences2{
    margin : 10px;
    padding : 10px;
    border: black solid 1px;
    border-radius: 5px;
}

.competences2>p,.competences2>h3{
    margin: auto;
    padding:5px;
}


.formations{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.langues{
    text-align: center;  
}

.loisirs{
    text-align: center;
}

.expTitre{
    border: none;
}

.bouttonModifier{
    display: block;
    margin-left : auto;
    margin-right: auto;
    margin-top: 50px;
    margin : 10px;
    padding: 5px;
}

.formDiv{
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin : 10px ;
}

.divButton{
    display: flex;
    flex-direction:row;
    justify-content: center;
    max-width: 500px;
    margin: auto;
    margin-top:15px;
}

.inputErreur{
    color : red;
    border : solid 1px red;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    background-color:yellow;
    margin : auto;
    margin-top:20px;
    
}

.formlogin{
    margin : auto;
    margin-top: 20px;
}
